@import "variables";
@import "partials/main";
@import "partials/admin";
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@import url(http://fonts.googleapis.com/css?family=Montserrat:700);
/* Default */
/* ======= Base ======= */
body {
  font-family: 'Lato', arial, sans-serif;
  color: #444444;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #17baef;
}
a {
  color: #17baef;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
a:hover {
  text-decoration: underline;
  color: #0e98c5;
}
.btn,
a.btn {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  font-family: 'Montserrat', arial, sans-serif;
  padding: 8px 16px;
  font-weight: bold;
}
.btn .fa,
a.btn .fa {
  margin-right: 5px;
}
.btn:focus,
a.btn:focus {
  color: #fff;
}
a.btn-cta-primary,
.btn-cta-primary {
  background: #074f66;
  border: 1px solid #074f66;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
}
a.btn-cta-primary:hover,
.btn-cta-primary:hover {
  background: #053c4e;
  border: 1px solid #053c4e;
  color: #fff;
}
a.btn-cta-secondary,
.btn-cta-secondary {
  background: #eebf3f;
  border: 1px solid #eebf3f;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
}
a.btn-cta-secondary:hover,
.btn-cta-secondary:hover {
  background: #ecb728;
  border: 1px solid #ecb728;
  color: #fff;
}
.text-highlight {
  color: #074f66;
}
.offset-header {
  padding-top: 90px;
}
pre code {
  font-size: 16px;
}
/* ======= Header ======= */
.header {
  padding: 10px 0;
  background: #17baef;
  color: #fff;
  position: fixed;
  width: 100%;
}
.header.navbar-fixed-top {
  background: #fff;
  z-index: 9999;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}
.header.navbar-fixed-top .logo a {
  color: #17baef;
}
.header.navbar-fixed-top .main-nav .nav .nav-item a {
  color: #666666;
}
.header .logo {
  margin: 0;
  font-size: 26px;
  font-family: 'Montserrat';
  padding-top: 10px;
}
.header .logo a {
  color: #000;
}
.header .logo a:hover {
  text-decoration: none;
}
.header .main-nav button {
  background: #074f66;
  color: #fff !important;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.header .main-nav button:focus {
  outline: none;
}
.header .main-nav button .icon-bar {
  background-color: #fff;
}
.header .main-nav .navbar-collapse {
  padding: 0;
}
.header .main-nav .nav .nav-item {
  font-weight: normal;
  margin-right: 30px;
  font-family: 'Montserrat', sans-serif;
}
.header .main-nav .nav .nav-item.active a {
  color: #17baef;
  background: none;
}
.header .main-nav .nav .nav-item a {
  color: #0a7396;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  font-size: 14px;
  padding: 15px 10px;
}
.header .main-nav .nav .nav-item a:hover {
  color: #074f66;
  background: none;
}
.header .main-nav .nav .nav-item a:focus {
  outline: none;
  background: none;
}
.header .main-nav .nav .nav-item a:active {
  outline: none;
  background: none;
}
.header .main-nav .nav .nav-item.active {
  color: #17baef;
}
.header .main-nav .nav .nav-item.last {
  margin-right: 0;
}

/* ======= Footer ======= */
.footer {
  position: fixed;
  bottom: 0;
  margin: 0;
  width: 100%;
  padding: 15px 0;
  background: #042a36;
  color: #fff;
}
.footer .copyright {
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
}